// app global css in SCSS form
.column {
  float: left;
  width: 50%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-footer {
  float: left;
  width: 20%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.map {
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}

.controlling {
  margin-left: 80%;
}

.sliderbundle {
  float: left;
  width: 80%;
}

.title {
  margin-left: 47%;
  margin-right: 50%;
  padding-top: 2px;
  font-family: Georgia, serif;
  font-size: 23px;
}

.dialogtext {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.obedienceprogress {
  background-color: black;
  border-radius: 20px;
  padding: 0.8%;
  border: 2px solid;
  border-color: grey;
  float: left;
}

.date {
  float: left;
  padding: 1.5%;
}

.bottommenu {
  width: 65%;
  position: fixed;
  top: 745px;
  left: 1px;
  margin-right: 17%;
  margin-left: 18.5%;
}

.bottommenuright{
  background-color: grey;
  border-color: black;
  border: 2px solid;
  border-radius: 10px;
  float: right;
  width: 26%;
  margin-top: 8%;
}

.bottommenuleft{
  margin-left: 1%;
  background-color: grey;
  border-color: black;
  border: 2px solid;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  float: left;
}

.pauseBtnBox {
  margin: 1%;
  padding: 1%;
  float: left;
}

.countrypanel {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border: 1px;
  border-color: black;
}

.headline {
  position: relative;
  font-size: 24px;
  text-align: center;
  height: 40px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: black;
  margin-top: 2%;
  margin-bottom: 2%;
}

.leftpanel {
  background-color: #c4c3c3;
  border: 2px solid;
  border-color: black;
  border-radius: 10px;
}

.panelsection {
  border-bottom: 1px solid;
  border-color: black;
  margin-top: 3%;
  margin-bottom: 3%;
}

.panelelement {
  margin: 3%;
  margin-left: 7%;
  font-size: 15px;
}

.measureContainer {
  background-color: black;
  margin-left: 59%;
  padding: 1%;
  height: 85%;
  width: 40%;
  float: left;
  border-radius: 10px;
  color: white;
  border: 2px solid;
  border-color: grey;
}

.measureElement {
  padding-top: 2%;
  padding-bottom: 2%;
}

.left {
  width: 50%;
  float: left;
  padding: 1%;
  padding-top: 3%;
  top: 50%;
  height: 100px;
}

.right {
  width: 50%;
  float: right;
  padding: 2%;
  height: 100px;
  padding-top: 7%;
}

.measurebox {
  color: black;
  background-color: grey;
  padding: 4%;
  border-radius: 10px;
  border: 1px solid;
  border-color: white;
}

.virusbox{
  color:white;  
}

.viruselement{
  color:white;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}